################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle

# Logs and temporary files
*.log
*.tmp

# Package and dependency folders
packages/
node_modules/